.CartComp {
  display: flex;
  width: 100%;
}

.Layout {
  margin: auto;
  margin-top: 135px;
  display: flex;
}

.CartBox {
  padding: 50px;
  width: 450px;
  height: 630px;
  border-radius: 15px;
  background-color: white;
}

.ListSet {
  margin: 40px 0;
}

.CartList {
  margin-top: 20px;
}
