.OrderComp {
  display: flex;
  width: 100%;
  height: 100%;
}

.Layout {
  margin: auto;
  margin-top: 135px;
  display: flex;
  height: 100%;
}

.OrderBox {
  padding: 50px;
  width: 400px;
  min-height: 866px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.Text1 {
  margin-top: 25px;
  font-size: 1.18rem;
  color: rgb(134, 134, 134);
  padding-bottom: 15px;
  border-bottom: 0.3px solid rgba(199, 199, 199, 0.493);
}

.ListSet {
  padding-bottom: 15px;
  border-bottom: 0.3px solid rgba(199, 199, 199, 0.493);
  max-height: 89px;
  overflow: scroll;
  overflow-x: hidden;
}

// CartBox ScrollBar 전체
.ListSet::-webkit-scrollbar {
  background-color: white;
  border-radius: 15px;
}

// CartBox ScrollBar 막대 부분
.ListSet::-webkit-scrollbar-thumb {
  background-color: #e1e5e9;
  border-radius: 15px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.Text2 {
  margin-top: 25px;
  font-size: 1.07rem;
  color: rgb(134, 134, 134);
  margin-bottom: 15px;
}

.NameInput {
  border: none;
  border-radius: 7px;
  background-color: #f9fafb;
  height: 45px;
  font-size: 1rem;
  padding-left: 16px;
}

.NameInput::placeholder {
  color: rgba(0, 0, 0, 0.486);
  font-size: 1rem;
}

.PostCodeInput {
  border: none;
  border-radius: 7px;
  background-color: #f9fafb;
  height: 45px;
  width: 300px;
  font-size: 1rem;
  padding-left: 16px;
}

.PostCodeInput::placeholder {
  color: rgba(0, 0, 0, 0.486);
  font-size: 1rem;
}

.PostCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.PostCodeElement {
  display: flex;
}

.SearchBtn {
  width: 100px;
  margin-left: 10px;
  border: none;
  border-radius: 7px;
  background-color: #c2dcf4a9;
}

.SearchBtn:hover {
  cursor: pointer;
}

.ADDInput {
  margin-top: 12px;
  border: none;
  border-radius: 7px;
  background-color: #f9fafb;
  height: 45px;
  font-size: 1rem;
  padding-left: 16px;
}

.ADDInput::placeholder {
  color: rgba(0, 0, 0, 0.486);
  font-size: 1rem;
}

.PNInput {
  border: none;
  border-radius: 7px;
  background-color: #f9fafb;
  height: 45px;
  font-size: 1rem;
  padding-left: 16px;
}

.PNInput::placeholder {
  color: rgba(0, 0, 0, 0.486);
  font-size: 1rem;
}

.ItemPrice {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 15px;
}

.ShipPrice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.TotalPrice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.BuyBtn {
  border: none;
  border-radius: 7px;
  background-color: #c2dcf4a9;
  height: 50px;
  font-size: 1rem;
}

.BuyBtn:hover {
  cursor: pointer;
}

.CheckedItem {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.1rem;
}

.ListSet .CheckedItem:first-child {
  margin-top: 20px;
}

.ListSet .CheckedItem:last-child {
  margin-bottom: 10px;
}

.Text3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 1.2rem;
}
