.OrderComp {
  display: flex;
  width: 100%;
  height: 100%;
}

.Layout {
  margin: auto;
  margin-top: 135px;
  display: flex;
  height: 100%;
}

.OrderBox {
  padding: 50px;
  width: 400px;
  min-height: 630px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.Text1 {
  margin-top: 25px;
  font-size: 1.18rem;
  color: rgb(134, 134, 134);
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 0.3px solid rgba(199, 199, 199, 0.493);
}

.ListSet {
  padding-bottom: 15px;
  border-bottom: 0.3px solid rgba(199, 199, 199, 0.493);
}

.Text2 {
  margin-top: 20px;
  font-size: 1.07rem;
  color: rgb(134, 134, 134);
  margin-bottom: 15px;
}

.NameInput {
  border: none;
  border-radius: 7px;
  background-color: #f9fafb;
  height: 45px;
}

.NameInput::placeholder {
  color: black;
  font-size: 1rem;
}

.PostCodeInput {
  border: none;
  border-radius: 7px;
  background-color: #f9fafb;
  height: 45px;
  width: 270px;
}

.PostCodeInput::placeholder {
  color: black;
  font-size: 1rem;
}

.PostCode {
  display: flex;
  justify-content: center;
  width: 400px;
}
