.mungsList_news {
  width: 55%;
  box-shadow: 0px 2px 9px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  .title {
    margin-bottom: 10px;
    padding: 20px;
  }

  .contentBox {
    min-height: 500px;
  }

  .commentBox {
    margin-top: 10px;
    width: 100%;
    height: 120px;
    overflow-y: scroll;
    li {
      width: 93%;
      margin: auto;
      margin-bottom: 5px;
      display: flex;
      height: 45px;
      align-items: center;
      justify-content: space-between;
      .imgBox {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 1px solid black;
        background-size: 30px 30px;
      }
      .userBox {
      }
      .userComment {
        text-align: left;
        width: 70%;
      }
      span {
        text-align: right;
        cursor: pointer;
        margin-right: 5px;
      }
    }
  }
  .commentBox::-webkit-scrollbar {
    background-color: white;
    border-radius: 15px;
  }
  .commentBox::-webkit-scrollbar-thumb{
    background-color: #e1e5e9;
    border-radius: 15px;
    background-clip: padding-box;
    border: 3px solid transparent;
  }

  .commentInput {
    margin-top: 10px;
    min-height: 60px;
    border: 20px;
    display: flex;
    padding: 10px;
    padding-left: 15px;
    align-items: center;


    div {
      width: 60px;
      height: 60px;
      border-radius: 80px;

      background-size: 60px 60px;
      // border: 2px solid black;
      margin-right: 10px;
    }

    li {
      position: relative;
      width: 85%;
      height: 60px;
      text-align: center;
      padding: 2px;
      border-radius: 80px;
      input {
        border: 2px solid rgba($color: #000000, $alpha: 0.1);
        width: 100%;
        height: 60px;
        border-radius: 80px;
        font-size: 1.3rem;
        text-align: left;
        padding-left: 20px;
      }
      button {
        position: absolute;
        background-color: transparent;
        height: 40px;
        font-size: 1.2rem;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        border: none;
      }
    }
  }
}
