.LikeListComp {
  display: flex;
  width: 100%;
  height: 100%;
}

.Layout {
  margin: auto;
  margin-top: 135px;
  display: flex;
  height: 100%;
}

.LikeListBox {
  width: 1000px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.CardListSet {
  // border: 1px solid orange; // 레이아웃 확인용
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  margin-top: 30px;
  margin-left: 17px;
  flex-wrap: wrap;
}

.CardList {
  width: 260px;
  height: 340px;
  border-radius: 20px;
  border: 1px solid #eeeeee;
  margin: 30px;
  margin-top: 0;
}

.ImgBox {
  border-radius: 20px 20px 0 0;
  width: 220px;
  height: 200px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  top: -20px;
}

.LikeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  z-index: 100;
  width: 42px;
  height: 42px;
  margin-left: 180px;
  position: relative;
  top: 20px;
}

.LikeBtn:hover {
  cursor: pointer;
}

.TextBox {
  justify-content: space-around;
  text-align: center;
  align-items: flex-start;
  width: 100px;
  height: 80px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 15px;
  padding: 10px;
}

.InfoBox {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -16.5px;
}

.CartBtn {
  margin: 35px;
  margin-right: 23px;
  margin-top: 30px;
  width: 53px;
  height: 53px;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  display: flex;
  // align-items: center;
  // justify-content: center;
}
