
.main-scroll {
    opacity: 0;
}
.main-scroll.scrollon {
    opacity: 1;
    transition: all 3.5s;
}

.main-des {
    margin-top: 80px;
    margin-bottom: -50px;
    font-weight: 400;
}

.main-intro {
    transform: translateX(0);
    transition: all 1s;
}

.main-intro h3 {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    text-transform: uppercase;
}

h3 span {
    display: inline-flex;
    color: black;
}

h3 span:nth-child(even) {
    overflow: hidden;
    transition: ease-in 0.5s;
    color: black;
    letter-spacing: -1em;
}

h3:hover span:nth-child(even) {
    letter-spacing: 0;
}
h3:hover span:nth-child(2) {
    transition-delay: 0.1s;
    margin-right: 30px;
}
h3:hover span:nth-child(4) {
    transition-delay: 0.5s;
    margin-right: 30px;
}
h3:hover span:nth-child(6) {
    transition-delay: 0.9s;
}

.cuosor-box {
    position: relative;
}

.cursor {
    width: 50px;
    position: absolute;
    right: 48%;
    top: 1405px;
    animation: motion 0.5s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               infinite alternate; /* 무한 반복 */
}

@keyframes motion {
	0% {margin-top: 0px;} /* 처음 위치 */
	100% {margin-top: 10px;} /* 마지막 위치 */
  }