.locationLayout{
  width: 1630px;
  min-height: 100vh;
  margin: auto;
  .loaction_menu{
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #ebebeb;
    border-radius: 80px;
    width: 880px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 10px;
    button{
      font-size: 1.4rem;
      font-weight: 600;
      border: none;
      padding: 20px 90px;
      background-color: transparent;
      cursor: pointer;
      &.clicked {
        border-radius: 80px;
        background-color: #fff;
      }
    }

    
  }
  .location_container{
    width: 600px;
    height: 680px;
    overflow-y: scroll;
    margin-top: 10%;
    margin-left: -7%;
    display: flex;
    justify-content: center;
    .location_content{
      padding: 3%;
      width: 500px;
      background-color: #F5F5F5;
    }
    .location_content_point{
      margin-top: 4%;
      padding: 3%;
      width: 470px;
      height: 85px;
      background-color: #F5F5F5;
      }
    h3{
      margin-top: 5px;
    }
    p {
      margin: 5px 0;
    }
    li {
      margin: 20px 0;
    }
  }
}