.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.card {
    position: relative;
    width: 100%;
    min-height: 600px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

.insta-title {
    min-width: 20%;
    margin: 0 10px;
    text-align: left;
    font-weight: 500;
}
.insta-sub {
    font-size: 1.1rem;
    text-align: left;
    margin-left: 1.5%;
    font-weight: 500;
}

.logo {
    width: 60px;
    height: 60px;
    margin: 20px;
    margin-left: 25px;
    /* border: 2px solid #b6b6b6; */
    border-radius: 50%;
}
.logo img {
    border-radius: 50%;
}

.cover {
    position: relative;
    top: 0;
    left: 0;
    width: 360px;
    height: 100%;
    object-fit: cover;
}

.card .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .title .userDetails {
    display: flex;
    align-items: center;
}
.card .title .userDetails .profile img {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}
.card .title .userDetails h3 {
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
}
.card .title .userDetails h3 span{
    font-size: 0.75em;
}
.dot {
    transform: scale(0.6);
    cursor: pointer;
}
.imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
}


.actionBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.right {
    margin-right: 15px;
    margin-top: 15px;
}
.left {
    margin-top: 15px;
    margin-left: 10px;
}
.left .heart, .comment {
    margin-right:20px;
}
.date {
    text-align: left;
    margin-top: 10px;
    font-size: 1.2rem;
    margin-left: 2.6%;
    font-weight: 500;
}

.message {
    font-weight: 400;
    margin-top: 10px;
    margin-left: 2.6%;
    line-height: 1.5em;
    color: #777;
    font-size: 1.2rem;
    text-align: left;
}
.message p {
    color: #262626;
    font-weight: bold;
}

.message span {
    color: #1d92ff;
    cursor: pointer;
}

.imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
}


.event-slide-img {
    display: flex;
    flex-direction:row;
    align-items: center;
    position: relative;
    max-width: 100%;
    height: 350px;
}


.slide-btn {
    display: flex;
    justify-content: space-between;
}

.next-btn, .prev-btn {
    margin: 0 10px ;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px 17px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: lightgray;
    font-size: 2rem;
    opacity: 0.3;
}

.slide-btn .next-btn {
    top: 50%;
    right: -0.1%;
}
.slide-btn .prev-btn {
    top: 50%;
    left: -0.1%;
}


/* createPostComp*/
.create-container {
    margin: 30px 35%;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 800px;
    padding: 30px 0 20px;
}

.create-container h2 {
    margin-bottom: 10%;
}

.create-container span {
    font-weight: bold;
    margin-right: 10%;
}

.create-container input {
    width: 600px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    height: 38px;
    padding: 0 10px;
}

.title-1 {
    height: 30px;
}
.sub-title-1 {
    height: 30px;
}
.location-1 {
    height: 30px;
}
.hash-tag-1 {
    height: 30px;
}
.des-1 {
    height: 200px;
    width: 620px;
    resize: none;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 10px;
}
.img-1{
    padding: 10px 0;
    margin-bottom: -60px;
}

.complete-btn {
    position: relative;
    padding: 10px 20px;
    margin-left: 62%;
    margin-top: -15%;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    background-color: #C2DCF4;
    cursor: pointer;
}

.create-post {
    width: 100px;
    bottom: 0px;
}

.write-box {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 75%;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.write {
    padding: 15px;
    width: 40px;
    height: 40px;
}
.pictures-wrap{
    margin-top: 10px;
    /* background-color: aliceblue; */
    padding: 13px 20px 28px;
    border: 1px dashed #dbdbdb;
    border-radius: 5px;
}