.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.card {
    position: relative;
    width: 660px;
    min-height: 1200px;
    background-color: #fff;
    box-shadow: 15px 15px 60px rgba(0,0,0,0.15);
    
}

.insta-title {
    margin: 10px;
}
.insta-sub {
    font-size: 1rem;
    margin-left: -57%;
}

.logo {
    width: 100px;
    margin: 20px;
    margin-left: 25px;
}
.logo img {
    border-radius: 50%;
}

.cover {
    position: relative;
    top: 0;
    left: 0;
    width: 360px;
    height: 100%;
    object-fit: cover;
}

.card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .top .userDetails {
    display: flex;
    align-items: center;
}
.card .top .userDetails .profile img {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}
.card .top .userDetails h3 {
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
}
.card .top .userDetails h3 span{
    font-size: 0.75em;
}
.dot {
    transform: scale(0.6);
    cursor: pointer;
}
.imgBx {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
}


.actionBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.right {
    margin-right: 15px;
    margin-top: 15px;
}
.left {
    margin-top: 15px;
    margin-left: 10px;
}
.left .heart, .comment {
    margin-right:20px;
}
.date {
    margin-top: 10px;
    margin-left: -81%;
    font-size: 1.2rem;
}

.message {
    font-weight: 400;
    margin-top: 10px;
    margin-left: -66%;
    line-height: 1.5em;
    color: #777;
    font-size: 1.2rem;
}
.message p {
    color: #262626;
    font-weight: bold;
    margin-left: -0.3%;
}
.message div {
    margin-left: 7.4%;
}
.message span {
    color: #1d92ff;
    cursor: pointer;
    margin-left: 3%;
}

.event-slide-img {
    display: flex;
    flex-direction:row;
    align-items: center;
    position: relative;
    width: 100%;
}

.slide-btn {
    display: flex;
    justify-content: space-between;
}

.next-btn, .prev-btn {
    font-size: 24px;
    margin: 0 ;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 3rem;
}

.slide-btn .next-btn {
    top: 35%;
    right: -2%;
}
.slide-btn .prev-btn {
    top: 35%;
    left: -2%;
}

