.event-slide {
    display: flex;
    flex-direction:row;
    align-items: center;
    position: relative;
    margin-left: 26%;
    margin-top: 5%;
    
}

.event-slide-img {
    width: 20%;
    height: 30vh;
    padding: 10px;
}


.slide-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.prev-button, .next-button {
    font-size: 24px;
    margin: 0 ;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 4rem;
    text-shadow: 2px 2px 2px gray;
}

.prev-button {
    left: -10%;
}
.next-button {
    right: 25%;
}

