/* EventListComp.css */

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: #333333;
    cursor: pointer;
    z-index: 10;
}


.slick-prev {
    left: 5%;
}

.slick-next {
    right: 5%;
}

.imgBox {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}