.swiper-container {
  padding-top: 70px;
  height: 70%;
  width: 49.5%;
  margin: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.swiper-pagination {
  margin-bottom: 145px;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.slide-image {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.slide-image:hover .image-overlay {
  opacity: 1;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 430px;
  background-color: rgba(253, 212, 142, 0.938);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-overlay p {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
